<!--
    File: authenticate.ejs
    Author: Dipen Shah
    Site: https://portfoilo.herokuapp.com/
    Description: This is hidden page with out any link on website to get contact details.
-->

<% include ./shared/nav %>

<center>
<div class="container container-fluid" style="max-width:450px;">
   <div class="page-header">
        <h2>Portfolio App</h2>
    </div>

    <div>
        <div class="panel" id="login">
            <form novalidate onsubmit="getContacts(); return false;">
                <div class="form-group text-left">
                    <label for="email" class="control-label">Username</label>
                    <input autofocus="true" class="form-control" id="username" placeholder="Username" tabindex="1" type="email">
                </div>

                <div class="form-group text-left">
                    <label for="password" class="control-label">Password</label>
                    <input autocomplete="off" class="form-control password" id="password" placeholder="Password" tabindex="2" type="password">
                </div>

                <button class="btn btn-primary btn-lg btn-block" tabindex="3" type="submit" value="Log In">Log In</button>
            </form>
        </div>
        <br /><br />
    </div>
</div>

<div class="modal fade" id="responceDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="comodal-dialog" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Responce from Server</h4>
      </div>
      <div class="modal-body">
        <pre id="responce" class="text-left dialog">
            Connecting...
        </pre>
      </div>
    </div>
  </div>
</div>       
<br /><br />
</center>
<% include ./shared/footer %>