<!--
    File: contact.ejs
    Author: Dipen Shah
    Site: https://portfoilo.herokuapp.com/
    Description: This page contains contact information about dipen shah. Author of the page.
-->

<% include ./shared/nav %>
<div class="page-header">
    <h2>Contact</h2>
</div>

<div class="col-sm-12 breadcrumb">
    <a href="./home">Home</a> &gt; <a class="text-muted disabled" href="./contact">Contact</a>
</div>

<div class="col-xs-12 col-sm-5">
    <address>
        <h2>Dipen Shah</h2>
        <strong>Toronto, ON Canada</strong>
        <div class="form-group h4">
            <span class="glyphicon glyphicon-inbox"></span> <a href="mailto:dipen08it419@gmail.com">dipen08it419@gmail.com</a>
        </div>
        <div class="form-group h4">
            <span class="glyphicon glyphicon-earphone"></span> +1 (647)278-7694
        </div>
        <div class="form-group h4">
            <img src="images/linkedin-icon.png" alt="Linked In" />
            <a href="http://ca.linkedin.com/pub/dipen-shah/3a/33/18a" target="_blank">Dipen Shah</a>
        </div>

    </address>
</div>

<div class="col-xs-12 col-sm-7">
    <div class="panel panel-info" id="contactPanel">
        <div class="panel-heading">
            <span class="panel-title">Inquiry Form</span>
        </div>
        <div class="panel-body">
            <form name="contactForm" novalidate onsubmit="SendMessage(); return false;">
                <div class="form-group">
                    <label class="control-label">Email Id</label>
                    <input type="email" class="form-control" placeholder="Enter your Email Id" name="emailId" id="emailId" required="true" />
                </div>
                <div class="form-group">
                    <label class="control-label">Message</label>
                    <textarea class="form-control" name="message" placeholder="Enter message" id="message" required="true"></textarea>
                </div>
                <input type="button" class="btn btn-primary" value="Send Message" onclick="SendMessage()" />
            </form>
        </div>
    </div>
</div>
<% include ./shared/footer %>